html{
    box-sizing: border-box;
}

*, *::after,
*::before {
    box-sizing: inherit;
}

img{
    display: block;
    max-width: 100%;
}
body{
    font-size: 20px;
    color: #151618;
    font-family:"Cormorant", serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.container{
    margin: 0 auto;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;

}
.header__burger{
    width: 40px;
    height: 18px;
    display: none;
}
.b1, .b2, .b3, .b4 {
    width: 40px;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 4px;
}
.b1{
    margin: 0;
}


.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.menu__list{
    display: flex;
    gap: 0 65px;
    align-items: center;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.user-actions{
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.user-actions__item-search{
    margin-left: 100px;
}

.top{
    background-image: url('../images/bg_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.top__inner{
    min-height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.top__title{
    font-size: 60px;
    max-width: 780px;
    margin-bottom: 20px;
    font-weight: 400;
}

.top__text{
    font-size: 24px;
    max-width: 558px;
    margin-bottom: 48px;
    font-weight: 400;
}

.tea_collection{
    display: flex;
    flex-direction: column;
    
    text-align: center;
    margin-top: 396px;
    min-height: 355px;
}
.collection__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 0 40px;    
    align-items: end;
    text-align: center; 
    min-height: 247px;   
}
.collection__item{
    display: flex;
    flex-direction: column;
    gap: 0 10px;
    align-items: center;
}
.collection__title{
    font-size: 40px;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 60px;
}

.collection__item{
    font-size: 24px;
}

.collection__item p{
    margin-bottom: 0;
}
.quotation{
    margin-top: 150px;
}
 
.quotation__inner{      
     
    position: relative;
    /* z-index: 0; */
}

.quotation__text{   
   margin: 0;
   position: absolute;
   left:248px;
   bottom: -110px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
   z-index: 0;
    max-width: 704px;
   margin: 0 auto;
}
.quotation__rectangle{   
    width: 359px;
    height: 61px;
    background-color: #F7F2EA;  
    opacity: 50%; 
    position: absolute;
    left: 632px;
    bottom: -122px;
    z-index: -1;
}
.reviews{   
    margin-top: 150px;
    background-color:rgba(247, 242, 234, 0.5);
}
.review__block{
    display: flex;
    flex-direction: column;
}
.reviews_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0 26px;
    margin-bottom: 60px;
    max-width: 1198px;
    font-family: "Open Sans", sans-serif;
}

.reviews__title{
    text-align: center;
    margin: 60px auto;

}
.reviews_item{
    max-width: 280px;    
}

.reviews__text{
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 10px;
}

.reviews__autor{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    
}

.blog{
    margin-top: 150px;
}

.teaBlog_title{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 0;
}
.blog__teaBlog{
    display: flex;
    flex-direction: column;
   
}

.teaBlog__articles{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 40px;
    column-gap: 58px;
    margin-bottom: 60px;
    max-width: 1142px;

}
.teaBlog__Item{
    display: flex;
    flex-direction: row;
    max-height: 180px;

}
.article__title{
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    
    
}
.article__autor{
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
    
.article__about{
    margin-top: 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Форма подписки на рассылку */

.join{
    margin-top: 150px;    
    background-color:rgba(247, 242, 234, 1);
    background-image:url('../tea\ 1\ \(2\).png');
    background-size: auto;
    background-repeat:no-repeat;
    background-position:right;
}

.join__inviting{
    display: flex;
    flex-direction: column ;
    
}

.join__invite{
    display: flex;
    flex-direction: row;
    gap: 0 40px;
    margin-bottom: 100px;
    max-width: 1198px;
    font-family: "Open Sans", sans-serif;
    
}
.join__title{    
    margin: 100px 0 50px 0;
    font-size: 40px;
    font-weight: 400;
   
}
.join__invait__text, .join__invait__subscription{
    max-width: 580px;  
}
.join__invait__text{
    font-size: 20px;
    font-weight: 300;
}
.join__invait__subscription{
    display: flex;
    flex-direction: column;

  
}
.join__email__form{
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 0 25px;

}
.join__confidentiality{
    margin-top: 6px;  
    display: flex;
    flex-direction: row;
    gap: 0 10px;
    align-items: start;
}
.join__confidentiality__checkbox{
    margin: 0;
    margin-top:  4px;

    height: 10px;
    width: 10px;

}
.join__confidentiality__text{
    margin: 0;
    font-size: 13px;
}
.join__email__address{
    border: none;
    font-size: 20px;
    border-bottom: 1px solid rgba(184, 181, 139, 1);
    background: inherit;
    color: rgba(184, 181, 139, 1);
    flex-grow: 1;
    padding: 0;
    padding-left: 15px;
    padding-bottom: 2px;
}

.join__email__button{
    height: 51px;
    width: 116px;
    font-family:"Cormorant", serif;
    font-size:20px;
    font-weight:300 ;
    color: rgba(21, 22, 24, 1);
    padding: 12px 41px;
    border: 1px solid rgba(21, 22, 24, 1);
}


.priorities{
    margin-top: 150px;
}
.priorities__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 286px;

}

.priorities__title{
    text-align: center;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 40px;

}
.priorities__itemTitle{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 10px;

}

.priorities__itemText{
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin-top: 0;
    margin-bottom: 39px;

}
.priorities__list{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap:0 49px;
}

.priorities__item{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.ViewAll{   
    align-content: center;
    border: 1px solid #151618;
    text-align: center;
    margin: 0 auto;
    width: 149px;
    font-weight: 300;
    height: 51px;
    font-family: "Open Sans", sans-serif;
  
}

.footer{
    margin-top: 150px;
    background-color:rgba(247, 242, 234, 1);
    min-height: 593px;
}
.footer__content{
   min-height: 553px;
    
    display: flex;
    flex-direction: row;
    gap:0 155px;
}
.productsAndCompany{
    margin-top: 100px;
    margin-bottom: 100px;
    
    

}
.sloganAndContacts{
    margin-top: 100px;
    margin-bottom: 100px;

}
.about_us{
    display: flex;
    flex-direction: row;
    gap: 0 213px;
    
}
.products{
    min-width: 97px;
    max-height: 269px;

}
.company{
    min-width: 155px;
    max-height: 353px;

}

.footer__inner__title{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.footer__block{
    margin-top: 50px;
   
}
.footer__list{
    padding: 0;
    margin: 0;
}
.about_us__item{
    margin-top: 20px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.about_contacts{
    display: flex;
    flex-direction: row;
    gap: 0 41px;
}
.definition__text{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 20px;
    max-width: 269px;
    margin-top: 79px;
   
}
.tea__definition{
    max-height: 353px;   
}
.StayInTouch{
    max-height: 287px;
    max-width: 270px;
    

}
.definition__autor{
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    max-width: 129px;
    max-height: 32px;
}

.StayInTouch__text{
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 0;
}

.Tealuxe{
    margin-bottom: 18px;
}

.Logo__Footer{
    width: 57px;
    height: 91px;
    margin: 0;
}

.connect{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 0 40px;
}
.connect__address{
    margin-top: 20px;
    min-width: 136px;
    min-height: 60px;
}
.social_network{
    margin-left: 97px;
    margin-top: 50px;
    min-width: 150px;
    min-height: 22px;
}


.social_network__icon_facebook, .social_network__icon_instagram{
    display: inline-block;
    margin-right: 20px;
    width: 22px;
    height: 22px;
}

.social_network__icon_YouTube{
    display: inline-block;
    margin-right: 20px;
    width: 24px;
    height: 18px;
}
.social_network__icon_twitter{
    display: inline-block;
    
    width: 22px;
    height: 18px;
}
.icon_telephone{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;

}
.icon_email{
    width: 22px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;


}
.connect_telephone{
    margin-bottom: 20px;
}
.pay_way{
    display: inline-block;
    margin-left: 187px;
    min-width: 155px;
    min-height: 20px;
}
.connect_address__item{
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;

}
.Tealuxe_text{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.logo_pay{
    display: inline-block;
}
#logo_paypal{
    margin-right: 0;
    width:10px ;
    height:12px ;
    margin: 4px 0 4px 0;
}
#logo_mastercard{
    width:26px ;
    height:20px ;
    margin: 0;
}
#logo_VISA{
    width:31px ;
    height:10px ;
    margin: 5px 20px;
}
#logo_google-pay{
    width:29px;
    height:12px;
    margin: 4px 20px 4px 0;
}

/* адаптация для экрана 768px */

@media(max-width:768px){
    .container{
        max-width: 768px;
    }
    .logo{
        margin-left: 89px;
    }
    .header__inner{
        max-width: 640px;       
        padding: 0;
        margin: 30px 44px;
    }
    .header__burger{
        display: block;
    }    
   .user-actions{
        margin: 0;
        padding: 0;    
    }
   .user-actions__item-search{
        margin-left: 30px;
    }
    .menu{
        display: none;        
    }      
    .top{
        background-position: bottom left;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),url('../images/bg_img.png');
    }
    .top__text{
        margin-top: 20px;
    }
    .top__title{
        margin-bottom: 0;
    }
    .quotation__text{   
       left: 48px;
       bottom: -56px;
        max-width:640px;
        min-height: 111px;
        font-weight: 300;
    }
     .quotation__rectangle{   
        width: 273px;
        height: 61px;
        bottom: -55px;
        left: 415px;
    }
    .tea_collection{    
        margin-top: 351px;
        min-height: 582px;
        max-width: 636px;
    }
    .collection__title{
        margin-bottom: 40px;
    }
    .collection__items{
        gap: 0 6px;
    }
    .collection__item{
        min-height: 247px;
    }
    .reviews{
        margin-top: 120px;
    }
    .reviews_list{
        max-width: 636px;
        margin-left: 67px;
        margin-bottom: 82px;
        row-gap: 30px;      
    }
    .blog{
        margin-top: 120px;
    }
    .join{
        background-position: right bottom;
        margin-top: 120px;
    }
    .join__inviting{
        align-items: center;
        min-height: 525px;
    }
    .join__title{
        margin: 60px 0;
    }
    .join__invite{
        flex-direction: column;
        margin-bottom: 60px;
        align-items: center;
        gap: 60px;
    }
    .join__invait__text{
        text-align: center;
        max-width: 640px;
        min-height: 120px;
    }
    .join__invait__subscription{
        min-height: 117px;
        max-width: 580px;
    }
    .priorities{
        margin-top: 119px;
    }
    .priorities__block{
        max-width: 638px;
        min-height: 489px;
        margin-left: 45px;
        justify-content: center;
    }
    .priorities__list{
        row-gap: 30px;
        justify-content: space-between;
        align-items:center;
    }
    .footer{
        margin-top: 120px;
        min-height: 631px;
    }
    .footer__content{
        max-width: 728px;
    }
    .footer__content{
        gap: 67px;
    }
    .productsAndCompany{
        margin-top: 50px;       
    }
    .sloganAndContacts{
        margin-top: 50px;
        margin-bottom: 70px;      
    }
    .about_contacts{
        flex-direction: column;
        gap: 50px;
    }
    .about_us{
        gap: 52px;
    }
    .definition__text{
        margin-top: 0;
    }
    .connect_telephone{
        margin-bottom: 10px;
    }
    .social_network{
        margin-top: 30px;
    }
    .Tealuxe{
     
        margin-bottom: 10px;
    }
    .pay_way{
        margin-left: 31px;
        margin-bottom: 12px;
    }
    .blog__teaBlog{
        align-items: center;
    }
    .teaBlog__articles{
        max-width: 640px;
        column-gap: 0;
        row-gap: 30px;
        grid-template-columns: 98px 444px 98px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #firstItem{
        grid-area: 1/1/1/3;
    }
    #secondItem{
        grid-area: 2/2/3/3;
    }
    #thirdItem{
        grid-area: 3/1/4/3;
    }
    #fourthItem{
        grid-area: 4/2/5/4;
    }
}
/* Адаптация для экрана 480px */
@media (max-width:480px){
    .container{
        max-width: 480px;
        padding:0;
    }
    .header__inner{
        margin: 10px;
    }
    .logo{
        width: 39px;
        height: 56px;
    }
    .top__title{
        font-size: 40px;
        margin-left: 9px;
    }
    .top__text{
        max-width: 450px;
        margin-left: 9px;
        margin-bottom: 50px;
    }
    .quotation__text{
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        left: 30px;
        bottom: 50px;
        min-height: 44px;
        max-width: 376px;
    }
    .quotation__rectangle{
        width: 118px;
        height: 22px;
        bottom: 50px;
        left: 205px;
    }
    .tea_collection{
        margin-top: 164px;        
    }
    .collection__title{
        margin-bottom: 30px;        
    }
    .collection__items{
        gap: 0;        
    }    
    .collection__item p{
        margin-top: 10px;
    }
    .reviews{      
        margin-top: 60px;      
    }
    .reviews__title{
        font-size: 40px;      
        margin: 50px 0;      
    }
    .reviews_list{
       margin: 0;
        gap:20px;
        row-gap: 30px;
    }
    .reviews_item{
        max-width: 220px;
        min-height: 213px;
    }
    .blog{
        margin-top: 60px;
    }  
    .teaBlog__articles{
        max-width: 460px;        
        row-gap: 30px;
        grid-template-columns: 1fr;        
    }
    .teaBlog__Item img{
        width: 230px;
        height: 153px;
    }
    .teaBlog__Item{
        max-width: 460px;        
    }
    .read{
        font-size: 13px;
        font-family:"Cormorant", serif;
    }
    .article__about{
        min-height: 153px;
        max-width: 210px;
    }
    .join{
        margin-top: 60px;
        background-image:none;
    }
    .join__title{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .join__invait__text{
        font-size: 13px;
        min-height: 72px;
    }
    .join__invite{
        gap: 30px;
        margin-bottom: 50px;
        min-height: 282px;
    }
    .join__inviting{
        min-height: 415px;
    }
    .priorities{
        margin-top: 60px;
        
    }
    .priorities__block{
        min-height: 926px;
        margin: 0;
        

    }
    .priorities__title{
        margin-bottom: 30px;

        
    }
    .priorities__list{
       row-gap: 50px;
        max-width: 294px;
        justify-content: center;
        min-height: 848px;
    }
    .priorities__item{
        
        max-width: 294px;
    }
    .priorities__itemText{
        margin-bottom: 32px;
    }
    .footer{
        margin-top: 60px;
        max-width: 480px;
    }
    .footer__content{
        flex-direction: column;
        gap: 50px;
    }
    .about_us{
        gap: 133px;
        
    }
    .about_contacts{
        max-width: 460px;
    }
    .tea__definition{
        min-height: 92px;
    }
    .productsAndCompany{
        margin-bottom: 0;
    }
    .footer__block{
        margin-top: 30px;
    }
    .sloganAndContacts{
        margin: 0;
    }
    .definition__text{
        max-width: 460px;
        margin-bottom: 10px;
    }
    .definition__autor{
        max-width: 298px;
    }
    .StayInTouch{
        max-width: 460px;
        min-height: 196px;
       
    }
    .footer__inner__title{
        text-align: center;
    }
    .StayInTouch__text{
        margin-top: 20px;
        text-align: center;
    }
    .pay_way{
        margin-left: 153px;
    }
    .connect{
        gap: 0 27px;
        margin: 0;
    }
    .footer__connect{    
        margin-top: 20px;        
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 29px;
       
    }
    .social_network{
        margin: 0;
        
        
    }
    .connect__address{
        margin-top: 16px;
        font-size: 18px;
    }
}